<section id="price-section" >
    <div class="container mt-5" >
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="pb-3 mb-3">
                    <h3 class="fw-bold">TARIFAS</h3>
                </div>
                <p class="text-muted">
                    Ofrecemos tarifas flexibles según el volumen de recolección y la frecuencia del servicio. Nuestro
                    objetivo es garantizar una solución accesible para todos nuestros socios comprometidos con la
                    sostenibilidad.
                </p>
            </div>
        </div>
        <div class="row pt-5 mb-5">
            <!-- Basic -->
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="p-4 rounded" style="background: rgba(32, 33, 36, .1);">
                    <div class="text-center">
                        <h5 class="fw-light text-uppercase" style="letter-spacing: 2px; font-size: 15px;">Plan Básico
                        </h5>
                        <p class="mb-4" style="font-size: 50px;">50€</p>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Hasta 2 recoleciones por semana </span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Reporte mensual básico del impacto social</span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Ideal para restaurantes y negocios locales.
                            </span>
                        </div>
                        <a href="#offcanvasRegisterDonante" data-bs-toggle="offcanvas" class="btn btn-secondary mt-4">Suscribirse</a>
                    </div>
                </div>
            </div>

            <!-- Premium -->
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="p-4 rounded text-white" style="background: #070707;">
                    <div class="text-center">
                        <h5 class="fw-light text-uppercase" style="letter-spacing: 2px; font-size: 15px;">
                            PLAN PREMIUM</h5>
                        <p class="mb-4" style="font-size: 50px;">500€</p>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Recolecciones ilimitadas.
                            </span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Reportes del estado a través de la web.
                            </span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Asesoría personalizada para reducir desperdicios alimentarios</span>
                        </div>
                        <a href="#offcanvasRegisterDonante" data-bs-toggle="offcanvas" class="btn btn-secondary mt-4">Suscribirse</a>
                    </div>
                </div>
            </div>

            <!-- Estandar -->
            <div class="col-lg-4 pb-5 pb-lg-0">
                <div class="p-4 rounded" style="background: rgba(32, 33, 36, .1);">
                    <div class="text-center">
                        <h5 class="fw-light text-uppercase" style="letter-spacing: 2px; font-size: 15px;">
                            PLAN ESTANDAR</h5>
                        <p class="mb-4" style="font-size: 50px;">250€</p>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Hasta 5 recolecciones por semana.
                            </span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Reporte detallado mensual y anuales.
                            </span>
                        </div>
                        <div class="border-bottom py-3 d-flex justify-content-between align-items-center">
                            <span class="d-flex align-items-center" style="position: relative; padding-left: 40px;">
                                <i class="bi bi-check2-circle"
                                    style="position: absolute; left: 0; font-size: 20px;"></i>
                                Certificación de Responsabilidad Social.
                            </span>
                        </div>
                        <a href="#offcanvasRegisterDonante" data-bs-toggle="offcanvas" class="btn btn-secondary mt-4 ">Suscribirse</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>