<section class="mb-5">
    <div class="container mt-5 ">
      <div id="photoCarousel" class="carousel slide min-vh-50" data-bs-ride="carousel" data-bs-interval="4000">
      
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#photoCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
  
     
        <div class="carousel-inner rounded-4">
        
          <div class="carousel-item active">
            <img src="assets/IMG/ley.jpg" class="d-block w-100 img-fluid h-100" alt="Foto 1">
            <div class="carousel-caption row align-items-center h-100">
              <p class="display-6 fw-bold py-5 mt-5 mb-4">
                Aprobada en España Ley de Prevención de Pérdidas y Desperdicios de Alimentos</p>
            </div>
          </div>
  
    
          <div class="carousel-item">
            <img src="assets/IMG/apcc.png" class="d-block w-100 img-fluid h-100" alt="Foto 2">
            <div class="carousel-caption row align-items-center h-100">
              <p class="display-6 fw-bold py-5 mt-5 mb-4">
                Contamos con un equipo capacitado en APPCC, garantizando seguridad y calidad en cada proceso.</p>
            </div>
          </div>
  
        
          <div class="carousel-item">
            <img src="assets/IMG/Transporte.jpg" class="d-block w-100 img-fluid h-100" alt="Foto 3">
            <div class="carousel-caption row align-items-center h-100">
              <p class="display-6 fw-bold py-5 mt-5 mb-4 ">Recogemos comida, prevenimos el desperdicio y la compartimos con quienes más la necesitan.</p>
            </div>
          </div>
  
       
          <div class="carousel-item">
            <img src="assets/IMG/voluntarios.jpeg" class="d-block w-100 img-fluid h-100" alt="Foto 4">
            <div class="carousel-caption row align-items-center h-100">
              <p class="display-6 fw-bold py-5 mt-5 mb-4">Desde aquí, te conectamos con diferentes ONGs para que puedas ofrecer tu ayuda.</p>
            </div>
          </div>
        </div>
  
       
        <button class="carousel-control-prev" type="button" data-bs-target="#photoCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#photoCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
    
  </section>