<section class="mb-5">
    <div class="container my-5">
        <h2 class="text-center mb-5 fw-semibold ">Destacado en: </h2>
        <div class="row justify-content-center">

            <div class="col-6 col-md-3 text-center d-flex justify-content-center align-items-center">
                <div class="ratio ratio-1x1" style="max-width: 150px;">
                    <img src="assets/IMG/FESBAL.png" alt="fesbal" class="img-fluid">
                </div>
            </div>

            <div class="col-6 col-md-3 text-center d-flex justify-content-center align-items-center">
                <div class="ratio ratio-1x1" style="max-width: 150px;">
                    <img src="assets/IMG/European_Commission.svg.png" alt="european" class="img-fluid">
                </div>
            </div>

            <div class="col-6 col-md-3 text-center d-flex justify-content-center align-items-center">
                <div class="ratio ratio-1x1" style="max-width: 150px;">
                    <img src="assets/IMG/WFP.png" alt="wfp" class="img-fluid">
                </div>
            </div>

            <div class="col-6 col-md-3 text-center d-flex justify-content-center align-items-center">
                <div class="ratio ratio-1x1" style="max-width: 150px;">
                    <img src="assets/IMG/ACEH.png" alt="aceh" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>