<!-- Añadir esto es sass -->
<style>
    .justified-text {
        text-align: justify;
        text-justify: inter-word;
    }
</style>

<section class="container py-5" id="cardAndButton">
    <h2 class="display-4 text-left mb-4 fw-semibold">¿Cómo funciona Save & Serve?</h2>
    <hr class="my-4 border-dark">

    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
            <div class="card h-100">
                <img src="assets/IMG/step1.jpeg" class="card-img-top"
                    alt="We collect food from restaurants and supermarkets">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3">Paso 1: Nosotros recogemos los alimentos excedentes</h5>
                    <p class="card-text justified-text flex-grow-1">Save & Serve recoge alimentos no utilizados de
                        restaurantes y supermercados que de otro modo se desecharían,
                        lo que ayuda a reducir el desperdicio de alimentos.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
            <div class="card h-100">
                <img src="assets/IMG/step2.jpeg" class="card-img-top" alt="Food logistics and distribution">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3">Paso 2: Logística y preparación de alimentos</h5>
                    <p class="card-text justified-text flex-grow-1">Una vez recogidos los alimentos, Save & Serve se
                        encarga de clasificarlos, almacenarlos y prepararlos adecuadamente para su distribución. Nos
                        aseguramos de que todos los alimentos se manipulen de forma segura y mantengan su calidad para
                        ser entregados a quienes los necesitan.</p>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex">
            <div class="card h-100">
                <img src="assets/IMG/step3.jpeg" class="card-img-top" alt="Food delivery to people in need">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title mb-3">Paso 3: Entrega directa a Bancos de Alimentos</h5>
                    <p class="card-text justified-text flex-grow-1">Los alimentos preparados y almacenados se
                        entregan directamente a comunidades que enfrentan inseguridad alimentaria.
                        A través de nuestra red de distribución,
                        trabajamos para garantizar que cada comida llegue a quienes más la necesitan.</p>
                </div>
            </div>
        </div>
    </div>
</section>