<section class="mb-5">
  <div class="container-fluid p-3 mt-4 shadow">
    <h3 class="display-4 text-center">Obtén respuestas a tus preguntas</h3>
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item border-1 border-dark border-top-0 border-end-0 border-start-0 bg-light">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark-subtle shadow-none text-dark-emphasis fw-semibold"
            type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne"
            aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            <i class="bi bi-question-circle me-2"></i> ¿Cuál es la misión de Save & Serve?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <p>Save & Serve tiene como objetivo reducir el desperdicio de alimentos al recolectar excedentes de comida de supermercados y restaurantes y redistribuirla a organizaciones benéficas y personas necesitadas, contribuyendo a la lucha global contra el hambre.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-dark-subtle">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light shadow-none text-dark" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseTwo">
            <i class="bi bi-gear me-2"></i> ¿Cómo funciona Save & Serve?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Nos asociamos con empresas para recolectar alimentos no vendidos pero comestibles. Nuestro equipo logístico garantiza que 
              los alimentos se transporten de manera segura y eficiente a organizaciones benéficas locales, bancos de alimentos e individuos.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-light">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark-subtle shadow-none text-dark-emphasis" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseThree">
            <i class="bi bi-people me-2"></i> ¿Quién se beneficia de las donaciones de alimentos?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Las donaciones van a organizaciones benéficas, albergues, bancos de alimentos y directamente a familias e individuos necesitados. 
              Trabajamos estrechamente con organizaciones comunitarias para garantizar que los alimentos lleguen a las personas adecuadas.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-dark-subtle">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light shadow-none text-dark" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFour">
            <i class="bi bi-hand-thumbs-up me-2"></i> ¿Cómo puedo involucrarme en la comunidad de Save & Serve?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Puedes unirte a nuestra comunidad suscribiéndote a nuestro boletín, participando en eventos locales o voluntariando para nuestras iniciativas. Visita la sección "Involúcrate" para más detalles.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-light">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark-subtle shadow-none text-dark-emphasis" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseFive">
            <i class="bi bi-shield-check me-2"></i> ¿Cómo garantiza Save & Serve la transparencia?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Proporcionamos informes detallados a nuestros socios, mostrando cuánta comida se donó, a dónde fue y cuántas personas se vieron afectadas. Nuestro objetivo es construir confianza y responsabilidad.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-dark-subtle">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light shadow-none text-dark" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSix">
            <i class="bi bi-box-seam me-2"></i> ¿Qué tipos de alimentos recolectan?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Recolectamos productos frescos, alimentos envasados y comidas preparadas que cumplen con las normas de seguridad alimentaria, pero que ya no son aptos para la venta. Se aceptan tanto productos perecederos como no perecederos.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-light">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-dark-subtle shadow-none text-dark-emphasis" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseSeven">
            <i class="bi bi-recycle me-2"></i> ¿Qué sucede con la comida que no se puede donar?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Si la comida no es apta para la donación, exploramos métodos de disposición sostenible, como el compostaje, para minimizar el desperdicio y su impacto ambiental.</p>
          </div>
        </div>
      </div>

      <div class="accordion-item border-1 border-dark border-end-0 border-start-0 bg-dark-subtle">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed bg-light shadow-none text-dark" type="button"
            data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false"
            aria-controls="panelsStayOpen-collapseEight">
            <i class="bi bi-check-circle me-2"></i> ¿Es seguro donar alimentos?
          </button>
        </h2>
        <div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>Absolutamente. Cumplimos con estrictas normas de seguridad alimentaria para garantizar que todas las donaciones se manejen, almacenen y transporten correctamente para mantener su calidad y seguridad.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
