<div class="d-flex flex-column h-100" id="wrapper">
    <div id="page-content-wrapper" class="w-100 p-4" style="min-height: 60vh;">
        <h2 class="ms-3">Zona Administrador</h2>
        <div class="container mt-5 mb-5">
            <div class="row row-cols-2 g-3">
                <div class="col">
                    <button class="btn btn-info w-100 p-4 text-light" routerLink="/gestionArticulos"
                        routerLinkActive="active">Artículos</button>
                </div>
                <div class="col">
                    <button class="btn btn-success w-100 p-4" routerLink="/gestionBeneficiarios"
                        routerLinkActive="active">Gestion Beneficiarios</button>
                </div>
                <div class="col">
                    <button class="btn btn-warning w-100 p-4 text-light" routerLink="/gestionEmpresas"
                        routerLinkActive="active">Gestion Donantes</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger w-100 p-4" routerLink="/gestionDonaciones"
                        routerLinkActive="active">Gestion Donaciones</button>
                </div>
            </div>
        </div>
    </div>
</div>
